* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #145293;
  color: #fccb02;
  height: 100%;
  width: 100%;
}
.header {
  margin-top: 24px;
  text-align: center;
  font-weight: 700;
  width: 90%;
}
h1 {
  font-size: 120px;
}
.game-area {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 83.7%;
  
}
.inner-game-area {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 50px;
  font-weight: 700;
}
.choices {
  font-size: 35px;
  display: flex;
  flex-direction: column;
}
.choice {
  display: inline;
  font-size: 48px;
}
.scores {
  font-size: 48px;
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
  gap: 48px;
}
.button {
  font-size: 100px;
  margin-top: 0px;
  border: 1px solid yellow;
  border: none;
  transition: transform .2s;
  background-color: #145293;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
}
.footer {
  padding: 12px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  background-color: #fccb02;
  color: #145293;
}
.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fccb02;
  color: #145293;
  margin: 0;
  /* I'll give you this one for free lol */
  align-items: center;
  justify-content: center;
  transition: transform .2s;
    
}  
.game-over {
  
  background-color: none;
}  
button.play-again {
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #145293;
  border: 5px solid #145293;
  color: #fccb02;
  font-size: 24px;
  transition: transform .2s;
  cursor: pointer;
}
button.play-again:hover {
  background: #fccb02;
  border: 5px solid #145293;
  color: #145293;
  transform: scale(1.1);
}